* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.ui-listview.expand-list li .ui-li-sub-text
{
   opacity: 0;
   -webkit-transition: all;
}
.ui-listview.expand-list li.ui-snap-listview-selected .ui-li-sub-text
{
   opacity: 1;
   -webkit-transition: all;
}
