* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.ui-listview.expand-list li .ui-li-sub-text
{
   opacity: 0;
   -webkit-transition: all;
}
.ui-listview.expand-list li.ui-snap-listview-selected .ui-li-sub-text
{
   opacity: 1;
   -webkit-transition: all;
}

#details-delete{
	color: red;
}

.weekday-select {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    border: 3px solid;
    line-height: 65px;
    background-color: black;
    margin: 0;
    margin-left: 13px;
    font-weight: 600;
    float: left;
    color: rgba(250, 250, 250, 1);
}

#sunday {
    margin-left: 31px;
}

#monday {
    margin-left: 70px;
}

#monday, #wednesday, #friday {
    margin-top: 3px;
}

input[type="radio"]{
	height:50px;
	width: 50px;
}
